*
{
    font-family: Verdana, Roboto, "Droid Sans", "ü‡ÉSÉVÉbÉN", YuGothic, "ÉqÉâÉMÉmäpÉS ProN W3", "Hiragino Kaku Gothic ProN", "ÉÅÉCÉäÉI", Meiryo, sans-serif !important;

}

h2,h1,h4
{
	color: #666 ;
}

p
{
	color: #333;
}

body {
	background-size:cover;
}

img {
	margin:2px;
    max-width: 100%;
    height:auto;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
    border-radius: 5px;
}

.top-image
{
	margin-top : 2%;
	width: 50% !important;
}

.button-area
{
	padding: 5% 5% 2% 5%;
}

.image-area
{
	width: 50%;
	padding: 5% 2% 5% 5%;
}

.image-line
{
	margin-top: -5%;
    margin-bottom: -7%;
    height: 60%;
    background-image: url("../images/baking-ingredients-32002_640.png");
    background-repeat: repeat-x;
}

.content-table
{
	margin-top: -15%

}

.top-table
{
	margin-top: -10%
}

.text-with-button
{
	    height: 40px !important;
}