<div align="center">
<table class="content-table" border="0">
<tr>
<td class="image-area"><img src="./images/hefekranz-779984_640.jpg"></td>
<td class="button-area">
<h2>貴方のスマホに焼き立て情報をお届け！</h2>
<div>
焼き立てパンを食べたい！<br>
焼き上がりに合わせて買いに行こう！
</div>
</td>
</tr>
</table>

<div>
<div>現在、<strong>焼き立てパンお知らせシステム HotPans</strong>は開発中です。</div>
<div>興味がある方はメールアドレスを登録いただくと、システム開始時にご案内を送付させていただきます。</div>
</div>
<br>
<form ng-controller="RegistMailAddressController">
<p>メールアドレス： <input type="email" class="text-input text-with-button" ng-model="customer.mailAddress" name="mailAddress" required />
<button class="button button--cta" ng-click="registCustomerMailAddress()">登録</button></p>
</form>
</div>